*{margin:0; padding:0; border-collapse: none;box-sizing: border-box; color:#333;font-weight: lighter;}
::-webkit-scrollbar {
    display: none;
}
html{scroll-behavior: smooth}
body{
    background-repeat: no-repeat;background-position: center;background-size: cover;height:100vh;
    position: relative;
    background:#f2f2f2
}
.flex{display: flex; flex-wrap: wrap;}
.btw{display: flex;justify-content: space-between;}
.h{height:10vh}
.hh{height:5vh}
.b{border:1px solid black}
a{text-decoration: none;cursor: pointer;}
ul{list-style: none;}
.full{width:100%;height:100vh;position: relative;overflow: hidden;}
.wrap{max-width: 50%;margin:0 auto}


.vs .txt{position: absolute;transform: translate(-50%,-50%);left:50%;top:50%;z-index: 100;}
.vs h2{font-size:5em}

header{position: fixed;width:100%;height:50px;background:#333;z-index: 1001;}
header a{color:white;line-height: 50px;}
header ul{width:40%;}
header a:hover{color:#d0312d}

.ts{background:#f2f2f2}
.ts h2{font-size:3em}
.ts input{width:84%;height:40px;text-indent: 10px;font-size:1.1em}
.ts button{width:15%;height:40px;background:#d0312d;color:white;border:1px solid #d0312d;font-size:1em}

.ts .res{width:100%;height:60vh;font-size:1.2em;background:#333;color:greenyellow;padding:10px;overflow: scroll;}

.hs{position: relative;}
.hs h2{font-size:3em}
.hs img{opacity: .3;}
.hs img:nth-child(1){position: absolute;bottom:40px}
.hs h3{font-size:5em}

#mod{color:#d0312d}

.about{background:white}

footer{background:#333;color:white;text-align: center;height:70px;line-height: 70px;font-size:.8em}

.mod_img{
    position: absolute;
    transform: translate(-50%,-50%);
    background:white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.vs .mod_img:nth-child(1){ 
    left:12%;
    top:40%;
    width:300px;
    height:400px;
    background-image:url('img/image1.jpg');
}

.vs .mod_img:nth-child(2){ 
    right:-23%;
    top:87%;
    width:600px;
    height:300px;
    z-index: 1;
    background-image:url('img/image2.jpg');
    border-radius: 100%;
}

.vs .mod_img:nth-child(3){ 
    right:-10%;
    top:25%;
    width:350px;
    height:400px;
    
    background-image:url('img/image9.jpg')
}

.vs .mod_img:nth-child(4){ 
    left:25%;
    top:92%;
    width:300px;
    height:600px;
    background-image:url('img/image8.jpg')
}

.about{position: relative;}
.about ul{width:90%;margin:0 auto}
.about li{width:calc(100%/5.5);height:500px;background:#e6e6e6; background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
.about li:nth-child(odd){margin-top:-40px}

.about li:nth-child(1){background-image:url('img/image7.jpg')}
.about li:nth-child(2){background-image:url('img/image3.jpg')}
.about li:nth-child(3){background-image:url('img/image4.jpg')}
.about li:nth-child(4){background-image:url('img/image6.jpg')}
.about li:nth-child(5){background-image:url('img/image5.jpg')}
