<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
    <title>Deface&Command injection</title>
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Micro+5&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Kode+Mono:wght@400..700&family=Micro+5&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="btw">
        <div></div>
            <ul class="btw">
                <li><a href="/">HOME</a></li>
                <li><a href="#About">ABOUT</a></li>
                <li><a href="/testing">TESTING ROOM</a></li>
                <li><a href="#History">HISTORY</a></li>
                <li><a href="/store">STORE</a></li>
            </ul>
        <div></div>
    </header>

    <div class="full vs" id="Home">
        <div class="mod_img"></div>
        <div class="mod_img"></div>
        <div class="mod_img"></div>
        <div class="mod_img"></div>
        <div class="txt">
            <h2>HI <span id="mod">______</span> , <span style="font-family: 'Micro 5', sans-serif; font-size:1.7em">^w^</span></h2>
            <h2>
                <span style="font-family: 'Chonburi', serif;">W</span>
                
                <span style="font-family:  'Kode Mono', monospace;">e</span>
                <span style="font-family:  'Kode Mono', monospace;">l</span>
                <span style="font-family: 'Micro 5', sans-serif; font-size:2em">c</span>
                <span style="font-family:  'Kode Mono', monospace;">o</span>
                <span style="font-family: 'Chonburi', serif;">m</span> 
                _
                <span style="font-family:  'Kode Mono', monospace;">t</span>
                <span style="font-family:  'Kode Mono', monospace;">o</span>
            </h2>
            <h2>
                <span style="font-family:  'Kode Mono', monospace;">{</span>
                <span style="font-family: 'Chonburi', serif;">CERT-IS🐞</span>
                <span style="font-family:  'Kode Mono', monospace;">}</span>
            </h2>
        </div>
    </div>

    <div class="full about" id="About">
        <div class="h"></div>
        <div class="h"></div>
        <ul class="btw">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="full hs" id="History" style="text-align: center;">
        <div class="h"></div>
        <h2>History</h2>
        <h3 style="font-family: 'Chonburi', serif;">© . . . EUNHA</h3>
        <img src="/static/img/note.png" alt="">
        <img src="/static/img/star.png" alt=""> 
    </div>

    <footer>CERT-IS 24-1 해입교 command injetcion 및 Deface 실습용 사이트</footer>
</body>
</html>